/*----------------
Typography
----------------*/
$f-sans: sans-serif;
$f-serif: serif;

/*----------------
Colors
----------------*/
$c-green: #BADA55;
$c-blue: #336699;

/*----------------
Breakpoints
----------------*/
$bp-md: 600px;
$bp-lg: 900px;
$bp-xl: 1200px;